--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	userapp	customuser
7	products	product
8	products	category
9	products	productimage
10	products	subcategory
11	products	subsubcategory
12	products	attribute
13	products	productattribute
14	products	cart
15	products	wishlist
16	products	sale
17	products	orderitem
18	products	order
19	products	userinteraction
20	products	usersimilarity
21	products	productsimilarity
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: userapp_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_category (id, name, created_at) FROM stdin;
2	Motors	2025-05-10 19:19:23.443942+05:45
3	Clothing & Accessories	2025-05-10 19:19:23.443942+05:45
4	Sporting goods	2025-05-10 19:19:23.443942+05:45
5	Electronics	2025-05-10 19:19:23.443942+05:45
6	Business & Industrial	2025-05-10 19:19:23.443942+05:45
7	Jewelry & Watches	2025-05-10 19:19:23.443942+05:45
8	Collectibles & Art	2025-05-10 19:19:23.443942+05:45
9	Home & garden	2025-05-10 19:19:23.443942+05:45
10	Other categories	2025-05-10 19:19:23.443942+05:45
\.


--
-- Data for Name: products_subcategory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_subsubcategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_subsubcategory (id, name, created_at, subcategory_id) FROM stdin;
1	Clothing	2025-05-11 22:25:02.589796+05:45	6
2	Shoes	2025-05-11 22:25:11.210966+05:45	6
3	Clothing	2025-05-11 22:25:21.66556+05:45	5
4	Shoes	2025-05-11 22:25:29.153446+05:45	5
5	Pc and Desktop	2025-05-11 22:26:05.836583+05:45	12
6	Laptops	2025-05-11 22:26:19.292975+05:45	12
7	Tablets	2025-05-11 22:26:34.099389+05:45	12
8	Phones	2025-05-11 22:26:49.885511+05:45	13
9	Smart Watches	2025-05-11 22:27:07.609292+05:45	13
10	Phone Accessories	2025-05-11 22:27:30.9338+05:45	13
\.


--
-- Data for Name: products_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_cart (id, added_date, product_id, user_id) FROM stdin;
38	2025-09-02 15:05:23.434865+05:45	32	5
39	2025-10-29 18:05:12.623428+05:45	27	5
40	2025-12-05 12:12:27.263061+05:45	33	12
\.


--
-- Data for Name: products_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_orderitem (id, price, order_id, product_id, seller_id) FROM stdin;
2	4000.00	2	18	5
3	4000.00	3	18	5
4	6000.00	4	22	6
5	6000.00	5	22	6
6	55000.00	6	21	5
8	6000.00	8	24	1
9	600.00	9	23	1
10	6000.00	10	24	1
11	7000.00	11	30	1
12	1500.00	11	26	1
13	4000.00	11	31	1
14	6000.00	12	24	1
15	9000.00	14	29	1
16	9000.00	15	29	1
17	9000.00	16	29	1
18	6000.00	17	24	1
19	10000.00	18	28	1
20	9000.00	18	29	1
21	6000.00	19	24	1
\.


--
-- Data for Name: products_productimage; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_productsimilarity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_productsimilarity (id, similarity_score, calculated_at, product1_id, product2_id) FROM stdin;
\.


--
-- Data for Name: products_sale; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_userinteraction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_usersimilarity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_usersimilarity (id, similarity_score, calculated_at, user1_id, user2_id) FROM stdin;
\.


--
-- Data for Name: products_wishlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_wishlist (id, added_date, product_id, user_id) FROM stdin;
36	2025-08-12 20:41:06.31069+05:45	18	6
43	2025-08-19 22:21:58.039238+05:45	24	5
44	2025-08-21 09:47:43.792176+05:45	25	1
45	2025-08-21 09:48:06.953379+05:45	27	1
46	2025-08-21 10:58:20.113026+05:45	31	1
47	2025-08-21 10:58:21.953596+05:45	30	1
48	2025-08-21 10:58:24.665281+05:45	26	1
57	2025-11-15 11:43:04.772266+05:45	32	5
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: userapp_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userapp_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: userapp_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userapp_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 84, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 21, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 34, true);


--
-- Name: products_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_cart_id_seq', 40, true);


--
-- Name: products_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_category_id_seq', 10, true);


--
-- Name: products_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_order_id_seq', 19, true);


--
-- Name: products_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_orderitem_id_seq', 21, true);


--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_id_seq', 33, true);


--
-- Name: products_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productimage_id_seq', 34, true);


--
-- Name: products_productsimilarity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productsimilarity_id_seq', 1, false);


--
-- Name: products_sale_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_sale_id_seq', 10, true);


--
-- Name: products_subcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_subcategory_id_seq', 35, true);


--
-- Name: products_subsubcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_subsubcategory_id_seq', 10, true);


--
-- Name: products_userinteraction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_userinteraction_id_seq', 1093, true);


--
-- Name: products_usersimilarity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_usersimilarity_id_seq', 1, false);


--
-- Name: products_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_wishlist_id_seq', 58, true);


--
-- Name: userapp_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userapp_customuser_groups_id_seq', 1, false);


--
-- Name: userapp_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userapp_customuser_id_seq', 12, true);


--
-- Name: userapp_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userapp_customuser_user_permissions_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

